<!DOCTYPE html>

<head>
  <meta>
  <title>iLogos 2.0</title>
  <link href="../static/dist/css/bootstrap.css" rel="stylesheet" media="screen">
</head>

<body id="mainbod">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>

  <div class="navbar" id="menu">
    <div class="navbar-inner">
      <a class="brand" id="1" href="#">Log In</a>
      <a class="brand" id="2" href="#">Register</a>
      <a class="brand" id="3" href="#">About</a>
    </div>
  </div>
  

</body>

</html>
