<html>
  <meta>
</meta>
  <head>
  <link href="../static/dist/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body id="page" class="pagebody">
    <script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.svg.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript" src="../static/js/basic.js"></script>
    <div id="toolbar" class="ui-widget-content toolborder navbar navbar-inverse" style="z-index:5; position:absolute;">
      <p class="navbar-text navbar-left tooltext">Toolbar</p>
      <button class="btn navbar-btn btn-info" id="addrect">Add Rectangle</button><br>
      <button class="btn navbar-btn btn-info" id="addlink">Create A Link</button><br>
    </div>
    <div id="htmlcanvas" style="position:absolute;top:50px;margin-left:20%;width:8.5in;height:11in;">
    </div>
    <div id="workspace" style="fill:none;">
      <svg id="canvas">
      </svg>
    </div>
  </body>
</html>
