<html>
  <head>
    Leila's Testing Playground!
  <link href="../static/dist/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body id="page" class="bodytest">
    <script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.svg.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript" src="../static/js/basic.js"></script>
      
    <div>
    <p> this is an example of what a paragraph tag does </p>
    </div>
  </body>
</html>
